<agm-map
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="15">
  <agm-marker
    *ngFor="let m of markers; let i = index"
    [latitude]="m.geoLocation.latitude"
    [longitude]="m.geoLocation.longitude"
    [iconUrl]="m.icon"
    [ngStyle]="{}">

    <agm-info-window>
      <strong>{{m.label}}</strong>
    </agm-info-window>

  </agm-marker>

  <agm-circle [latitude]="lat" [longitude]="lng"
              [radius]="800"
              [fillColor]="'red'">
  </agm-circle>

</agm-map>
<button (click)="removeMarkers()">Reset Markers</button>

