<agm-map
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="15">

  <agm-marker [latitude]="lat" [longitude]="lng">
    <agm-info-window>Börk</agm-info-window>
  </agm-marker>

  <agm-marker
    *ngFor="let m of markers; let i = index"
    [latitude]="m.lat"
    [longitude]="m.lng"
    [iconUrl]="'http://maps.google.com/mapfiles/kml/pal3/icon34.png'"
    [ngStyle]="{}">

    <agm-info-window>
      <strong>{{m.label}}</strong>
    </agm-info-window>

  </agm-marker>

  <agm-circle [latitude]="lat" [longitude]="lng"
              [radius]="800"
              [fillColor]="'red'">
  </agm-circle>

</agm-map>

