

<ul class="c" *ngIf="dataIsReady === false" style="    position: absolute;left: 50%;top: 30%;">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>

<img src="../assets/ATT03187.jpg" style="position: absolute;right: 8px; z-index: 1000;width: 75px;">
<div *ngIf="dataIsReady === true">
  <agm-map
          [latitude]="lat"
          [longitude]="lng"
          [zoom]="15">
    <agm-marker
            *ngFor="let m of markers; let i = index"
            [latitude]="m.geoLocation.latitude"
            [longitude]="m.geoLocation.longitude"
            [iconUrl]="m.icon" >

      <agm-info-window>
        <div class="info">
          <span><strong>Phone number:</strong> {{m.phoneNumber}}</span>
        </div>
        <div class="info">
          <span><strong>Latitude:</strong> {{m.geoLocation.latitude}}</span>
        </div>
        <div class="info">
          <span><strong>Longitude:</strong> {{m.geoLocation.longitude}}</span>
        </div>
        <div>
          <button
                  (click)="resetMarker(i)"
                  class="resetBtnMarker">Reset
                      <span style="margin-left: 3px;"
                            class="glyphicon glyphicon-refresh">
                      </span>
          </button>
        </div>
      </agm-info-window>

    </agm-marker>

    <agm-circle [latitude]="lat" [longitude]="lng"
                [radius]="800"
                [fillColor]="'red'">
    </agm-circle>

  </agm-map>
  <button class="resetBtn"
          (click)="removeMarkers()">
    <p>Reset Markers</p>
  </button>
  


</div>


